if message && message.length > 0
    .ui.error.message
        if Array.isArray(message)
            ul.list
                each msg in message
                    li= msg
        else
            | #{message}
