h3.ui.horizontal.divider.header
    i.user.icon
    | #{user.studentId + ' ' + user.name}

.ui.stackable.three.cards
    each book in books
        .ui.card
            .content
                a.header(href='/learn/' + book.id)= book.name
                .meta= 'Passed ' + results[book.id].length + '/' + book.count + ' exams'
                .description
                    each result in results[book.id]
                        a.ui.label(href='/learn/' + book.id + '/' + result.day)= result.day
                        | &nbsp;
                    else
                        | You haven't passed any exams yet!
