extends page

mixin word(data)
    .ui.segment
        .ui.vertical.animated.fluid.button
            .hidden.content= data.meaning
            .visible.content= data.word
        .ui.star.rating(data-rating=data.level, data-max-rating='3')

append main
    each data in words
        +word(data)

append scripts
    script.
        $(function(){
            $('.ui.rating').rating('disable');
        });
