extends page

mixin button(i)
    a.ui.day.button(href='/learn/' + i)= ('0' + i).slice(-2)

mixin buttons(a, b)
    .ui.centered.mobile.only.grid
        .ui.buttons
            - for(let i = a; i <= (a + b) / 2; i++)
                +button(i)

    .ui.centered.mobile.only.grid
        .ui.buttons
            - for(let i = Math.ceil((a + b) / 2); i <= b; i++)
                +button(i)

    .ui.centered.tablet.computer.only.grid
        .ui.buttons
            - for(let i = a; i <= b; i++)
                +button(i)

append main
    .ui.container
        case book
            when 'nv':  include includes/days_nv
            when 'wm':  include includes/days_wm
            when 'wmr': include includes/days_wmr


append stylesheets
    link(rel='stylesheet', type='text/css', href='css/days.css')

append scripts
    script.
        $(function(){
            $('.ui.day.button').click(function(){
                $(this).toggleClass('active');
            })
        });
