extends layout

block body
    .ui.container
        .ui.menu
            .item.header DIMI VOCA
            a.item Learn
            a.item Test
            a.item Download
            a.item.right Sign in
