extends layout

mixin menu(href, icon, classes)
    a.item(class=(here === href ? ' active' : '') + (classes ? ' ' + classes : ''), href=href)
        if icon
            i(class=icon + " icon")

append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/page.css')

block body
    .ui.inverted.fixed.borderless.massive.icon.menu
        .ui.container
            +menu('/',         'home', 'header')
            +menu('/learn',    'book')
            +menu('/exam',     'star')
            +menu('/download', 'download')
            .right.menu
                +menu('/sign-in',  'sign in')
    #main.ui.container
        block main
