.word.column label.word {
    margin-bottom: 1rem !important;
}

.word.column label, input {
    text-transform: capitalize !important;
}

.word.column .rating {
    margin-left: 0.5em !important;
}

.ui.error.message {
    margin-bottom: 2em;
}
