body {
    font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', 'Noto Sans CJK', 'HCR Dotum', sans-serif;
    background-color: #fcfcfc;
}

#main {
    padding-top: 7em;
}

#copyright {
    margin-top: 3em;
}
