body, .button, .header, .item {
    font-family: 'Lato', 'Noto Sans KR', 'HCR Dotum', sans-serif !important;
}

body {
    background-color: #fcfcfc;
}

#main {
    padding-top: 5em;
    padding-bottom: 4em;
}

#copyright {
    margin-top: 3em;
}

pre {
    white-space: pre-wrap;
    overflow: hidden;
}
