body, .ui.button {
    font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', 'Noto Sans KR', 'HCR Dotum', sans-serif !important;
}

body {
    background-color: #fcfcfc;
}

#main {
    padding-top: 5em;
}

#copyright {
    margin-top: 3em;
}
