extends ../page

mixin card(book)
    a.card(href=here + '/' + book.id)
        .image
            img(src=book.image)
        .content
            .header= book.name

append main
    .ui.centered.four.doubling.cards
        each book in books
            +card(book)
