extends ../page

mixin word(data, index)
    .word.column
        .field
            .ui.large.star.rating(data-rating=data.level, data-max-rating='3', style="float: right;")
            label= data.word
            input(name=data.word, placeholder=data.word, type="text")

append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/exam.css')

append scripts
    script.
        $(function(){
            $('.ui.rating').rating('disable');
        });

append main
    form.ui.massive.form
        .ui.stackable.two.column.grid
            each data, index in words
                +word(data, index)
