extends ../page

append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/home.css')

append main
    h1.ui.header
        img.ui.circular.image(src='favicon.png', width='1em', height='1em')
        .content
            | #{title || 'Voca'}
            .sub.header= vocaPackage.description

    if !user
        include ../includes/sign-up
    else
        include ../includes/profile
