extends ../page

append stylesheets
    link(rel='stylesheet', type='text/css', href='/css/' + (user ? 'profile' : 'sign-up') + '.css')

append scripts
    script(src='/js/' + (user ? 'profile' : 'sign-up') + '.js')

append main
    if user
        include ../includes/profile
    else
        include ../includes/sign-up
