extends page

append options
    - let here = '/learn';
    - let menuName = 'Learn';

mixin card(book)
    a.card(href='/learn/' + book._id)
        .image
            img(src='/img/book_' + book._id + '.jpg')
        .content
            .header= book.name

append main
    .ui.centered.four.doubling.cards
        each book in books
            +card(book)
