extends ../page

append scripts
    script(src='/js/sign-in.js')

append stylesheets
    style.
        #main { height: 100%; }
        #main .column { max-width: 512px; }

append main
    .ui.middle.aligned.center.aligned.grid
        .column
            h2.ui.big.icon.header
                i.sign.in.icon
                .content Sign in to your account

            if message.length > 0
                .ui.error.message
                    if Array.isArray(message)
                        ul.list
                            each msg in message
                                li= msg
                    else
                        | #{message}

            .ui.stacked.segment
                form.ui.large.form(action='/sign-in', method='post')
                    .field
                        .ui.left.icon.input
                            i.mail.icon
                            input(name='email', placeholder='Email', type="email")
                    .field
                        .ui.left.icon.input
                            i.lock.icon
                            input(name='password', placeholder='Password', type="password")
                    button.ui.fluid.large.primary.submit.button(type='submit') Sign in
                    .ui.error.message
            .ui.message
                | New to #{title || 'here'}?&nbsp;
                a(href='/sign-up') Create an account
                | .
